<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="RibbonCalculator2007.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        
    <supportedRuntime version="v2.0.50727"/></startup>
    <userSettings>
		<RibbonCalculator2007.Properties.Settings>
            <setting name="Theme" serializeAs="String">
                <value>4</value>
            </setting>
        </RibbonCalculator2007.Properties.Settings>
    
</userSettings>
</configuration>
